



<footer class="text-center text-white">
  <!-- Copyright -->
  <div class="text-center p-5">
    © 2023 Copyright - 
    <a class="text-white" href="https://mdbootstrap.com/">Tamagosaurus.com</a>
  </div>
  <!-- Copyright -->
</footer>