{% extends 'base.html.twig' %}

{% block title %}Mon Tamagosaure{% endblock %}

{# /*block de stylesheets */ #}

{# /*block de stylesheets */ #}
{% block stylesheets %}

        <style>
            body {
                background-image: url({{ asset("build/images/background-blue-one.png") }});
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                /*autres priority de l'image de fond*/
                }
        </style>
{% endblock %}

{% block body %}

<body class="container">
    <div>
        <h1 class="display-2">Mon premier Tamagosaurus</h1>
        <div>{{ tamagosauru.name }}</div>

        <img class="rounded mx-auto d-block" style="width: 40%;" src="{{ asset('build/images/diplosaure-aquaticus.png') }}" alt="Un mignon Tamagosaurus !"><br>

        <p>Faim : <span id="dino-hunger"></span></p>
        <h2>Donnez lui à manger<h2>
        <p class="lead">Nourrissez le chaque jour, vous disposez diverses aliments.</p>

        {# {% include 'layout/_buttons-hunger.html.twig' %} #}
        {% include 'layout/_buttons-option.html.twig' %}
    </div>

<script src="/js/api/request.js"></script>
<script src="/js/tamagosaurus.js"></script>
</body>

{% endblock %}