<button type="submit" class="btn btn-primary rounded-pill btn-lg" onClick="feed(1)">Nourrir</button>
<button type="submit" class="btn btn-outline-danger rounded-pill btn-lg" onClick="resetFood()">Reset</button>
{# <button type="submit" class="btn" onClick=""><img class="button-eat" src={{ asset('build/images/button.jpg') }}></button> #}
