<div class=" d-flex justify-content-center">
    <button onClick="toggleOptions('options-hunger')" class="btn btn-success rounded-pill px-1 mx-6" title="Nourrir le tamagosaure">
        <img src={{ asset('build/images/buttons/buttons-eat.png') }} alt="Nourrir le tamagosaurus">
    </button>

    <button onClick="toggleOptions('options-clothes')" class="btn btn-success rounded-pill px-1">
        <img src={{ asset('build/images/buttons/buttons-checkroom.png') }}>
    </button>

    <button onClick="toggleOptions('options-locations')" class="btn btn-success rounded-pill px-1">
        <img src={{ asset('build/images/buttons/buttons-map.png') }}>
    </button>
</div>
