<div>

    <div class="button-eat bg-aqua">
        <a onClick=""><img src={{ asset('build/images/buttons-eat.png') }}></a>
    </div>

    <div class="button-checkroom">
        <a onClick=""><img src={{ asset('build/images/buttons-checkroom.png') }}></a>
    </div>

    <div class="button-map">
        <a onClick=""><img src={{ asset('build/images/buttons-map.png') }}></a>
    </div>

</div>
