<div class="text-center p-1">
  <img src="{{ asset('build/images/logos/WCS.png') }}" title="Wild Code School" style="width: 100px;">
  <br>
  © 2023 Copyright - <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap</a>
</div>