@import "custom";
@import '~bootstrap';


body {
    
    background-image: url('../images/background-blue.png') no-repeat center center fixed;
    background-size: cover;

}

h2 {
    color: #010101;
}


  





