<form method="post" action="{{ path('app_tamagosaurus_delete', {'id': tamagosauru.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tamagosauru.id) }}">
    <button class="btn">Delete</button>
</form>
