<div class="bg-white p-4 custom-padding neon-effect pt-5">
    <img class="rounded mx-auto d-block" style="width: 30%;" src="{{ asset( tamagosauru.image ) }}" alt="Un mignon Tamagosaurus !"><br>
</div>