{% if tamagosauru.type.name == '3DSaurus' %}
	<div id="dino-render"></div>
{% else %}
	<div class="p-4 custom-padding neon-effect pt-5"
	{% if destination is not defined %}
	style="background-image: url( {{ asset( tamagosauru.type.environment.image ) }})"
	{% endif %}
	>
		<img class="rounded mx-auto d-block" style="width: 30%;" src="{{ asset( tamagosauru.image ) }}" alt="Un mignon Tamagosaurus !"><br>
	</div>
{% endif %}