{% extends 'base.html.twig' %}

{% block title %}Tamagosaurus{% endblock %}

{% block body %}

<main>
    <div class="title">
        <h1>Tamagosaurus</h1>
        <h2>Votre propre dinosaure, et de nombreuses activités</h2>
    </div>

    <div class="about">
        {# A n'afficher que si le visiteur n'est pas connecté #}
        <h3>Partez à la découverte des Tamagosaures</h3>
        <p>
            Avec Tamagosaurus, vous pourrez vous occuper de votre propre Tamagosaure, lui donner à manger,
            le promener, découvrir des anecdotes sur son espèces, etc... Alors n'hésitez plus et inscrivez-vous !
        </p>
        <p>
            {# Lien uniquement si l'utilisateur n'a pas encore de tamagosaurus et EST CONNECTE #}
            <a class="btn btn-primary" href="{{ path('app_egg') }}">Ouvre un oeuf !</a>
        </p>
    </div>

    <div class="users">
        <button id="login" class="btn btn-primary" onClick="openLogin()">Se connecter</button>
        <button id="register" class="btn btn-secondary" onClick="openRegister()">S'inscrire</button>
    </div>

    <div id="loginForm" class="formHidden">
        <p>
            {{ render(controller(
                'App\\Controller\\LoginController::loginForm'
            )) }}
        <p>
        <button id="cancelLogin" onClick="closeLogin()">X</button>
    </div>

    <div id="registerForm" class="formHidden">
        {# TODO: Registration #}
        <p>Formulaire d'inscription<p>
        <button id="cancelRegister" onClick="closeRegister()">X</button>
    </div>


    <script src="/js/api/request.js"></script>
    <script src="/js/home.js"></script>
</main>

{% endblock %}