{% extends 'base.html.twig' %}

{% block title %}
    Accueil — {{ parent() }}
{% endblock %}

{% block body %}

	<main>
		<div class="card col-md-8 mx-auto">
			<div class="card-header bg-primary text-white">
				<h2>Ton propre dinosaure, et de nombreuses activités</h2>
			</div>

			<div
				class="card-body">
				{# A n'afficher que si le visiteur n'est pas connecté #}
				<h3>Pars à la découverte des Tamagosaures</h3>
				<p>
					Avec Tamagosaurus, tu pourras t'occuper de ton propre Tamagosaure, lui donner à manger,
                    le promener, découvrir des anecdotes sur son espèces, etc... Alors n'hésite plus et inscris-toi !
				</p>
				<div class="card-footer bg-light text-center">
					{% if is_granted('ROLE_USER') %}
                        <p>Et maintenant...</p>
						<a class="btn btn-primary btn-block" href="{{ path('app_egg') }}">Ouvre un oeuf !</a>
					{% else %}
						<a role="button" href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
						<a role="button" href="{{ path('app_register') }}" class="btn btn-secondary">S'inscrire</a>
					{% endif %}
				</div>
			</div>
		</div>


		<script src="/build/js/api/request.js"></script>
		<script src="/build/js/home.js"></script>
		<script src="/build/js/tamagosaurus.js"></script>
	</main>

{% endblock %}
